.header {
  border-style: double;
    border-color: rgba(241, 115, 174, 0.691);
    background-color:rgba(255, 176, 221, 0.66);
    border-width: 10px;
    border-radius: 15px;
    width: 800px;
    length: 200px;
    text-align: center;
    padding: 10px;
    margin: auto;
  }

.column {
    float:left;
    width:50%;
    padding:10px;
    text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.fakeimg {
    height: 200px;
    background: #aaa;
    border: 5px solid rgba(241, 115, 174, 0.691);
  }
.imgrotate {
    position: relative;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
  
  .backg {
    background:rgb(250, 229, 229)
  }
  .bubbly {
    
    border-style: double;
    border-color: rgba(241, 115, 174, 0.691);
    background-color:rgba(255, 176, 221, 0.66);
    border-width: 10px;
    border-radius: 15px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 1000px;
    height: 150px;
  }
  .bubblytabs {
    border-style: double;
    border-color: rgba(241, 115, 174, 0.691);
    background-color:rgba(255, 176, 221, 0.66);
    border-width: 10px;
    border-radius: 15px;
    text-align: center;
    padding: auto;
    margin: auto;
  }
  .font1{
    font-family: "copperplate",fantasy;
    font-weight: bold;
  }
  img.a {
    width: 100px;
    height: 100px;
    
  
    float:left;
    margin-left: 30px;
    margin-top: 15px;
    border: 10px double rgba(241, 115, 174, 0.691);
    border-radius: 50px;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;

  }
  img.b {
    width: 100px;
    height: 100px;
    
    float:right;
    margin-right: 30px;
    margin-top: 15px;
    border-radius: 50px;
    border: 10px double rgba(241, 115, 174, 0.691);
    border-radius: 50px;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  